@import 'css/document/print.css';

@page {
	@top-left {
        content: "Title";
	}
	@top-right {
		/*content: "Section";*/
		content: string(section);
	}
    @right-top {
        content: "Tag";
	}

	@bottom-left {
		content: "Book";
	}
    @bottom-center {
        /*content: "Page " counter(page) " of " counter(pages);*/
        content: counter(page);
    }
	@bottom-right {
		content: "Author";
	}
}
