@import 'css/keynotes/print.css';

@page {
	@left-top {
		content: "Tag";
	}

	@top-left {
		content: none;
	}
	@top-right {
		content: "Title";
	}

	@bottom-left {
		content: "Author";
	}	
	@bottom-right {
        /*content: "Page " counter(page) " of " counter(pages);*/
		content: counter(page);
	}
}

