@import 'css/document/print.css';

@page {
	@top-left {
        content: "Markdown Test";
	}
	@top-right {
		/*content: string(section);*/
		content: none;
	}
    @right-top {
        content: "Test";
	}

	@bottom-left {
		content: none;
	}
    @bottom-center {
        content: counter(page);
    }
	@bottom-right {
		content: "Antonio Negro";
	}
}
