@import 'body.css';
@import 'bookmarks.css';
@import 'codeblocks.css';
@import 'codehilite.css';
@import 'figure.css';
@import 'headings.css';
@import 'links.css';
@import 'lists.css';
@import 'tables.css';
@import 'admonition.css';


hr.navbar {
	display: none;
}

.wrapper {
}

.header {
	background-color: #DDE;
	font-family: sans-serif;
	padding-left: 0.5em;
}

.content {
	padding: 1em;
}

.footer {
/*	text-align: right;*/
	background-color: #DDE;
	border: 1px solid #668;
	border-radius: 3px;

	font-family: sans-serif;
	font-size: 10pt;
	padding: 0.1em 0.25em;

/*	width: 100%;*/
	position: fixed;
	right: 0px;
	bottom: 0px;
}
