h1 {
	bookmark-level: 1 !important;
	bookmark-label: counter(counter1) " " content();
	string-set: section content();
}

h2 {
	bookmark-level: 2 !important;
	bookmark-label: counter(counter1) "." counter(counter2) " " content();
}

div.toc ul { counter-reset: item; padding-left: 1em; text-indent: -1em; }
div.toc ul > li { margin: 1ex 0 0 0; }
div.toc li { display: block; counter-increment: item; text-align: left;}
div.toc li:before { content: counters(item, ".") " " }
div.toc ul ul { padding-left: 2em; text-indent: -2em; }
div.toc ul ul > li { margin: 0; }
div.toc ul ul ul { display: none }


/* Números de página en las entradas de la tabla de contenidos */

/* Método 1 
div.toc ul li a::after {
    content: " . . . . . (p. " target-counter(attr(href), page) ")";
}
/**/

/* Método 2 
div.toc ul li a::after {
    content: target-counter(attr(href), page);
    float: right;
}
div.toc ul li {
    border-top: 1px dotted #999;
}
/**/

/* Método 3 */
div.toc ul li a::after {
    content: target-counter(attr(href), page);
    position: relative;
    top: -18pt;
    margin-bottom: -18pt;
    width: 100%;
    display: block;
    text-align: right;
    border-bottom: 1px dotted #999;
}
/**/
