/* Centrado */
img {
	/*width: 17cm;*/
	width: 75%;
	float: none;
	margin: 1em auto;
	display: block;
}

div.right, img.right {
	width: 40%;
	float: right;
	margin-left: 1em;
	margin-top: 0;
}
div.left, img.left {
	width: 40%;
	float: left;
	margin-right: 1em;
	margin-top: 0;
}

div.right, div.left, div.figure {
	background-color: #EFE;
	border: 1px solid #BCB;
	text-align: center;
	font-family: 'Ubuntu Condensed',sans-serif !important;
	font-size: 10pt;
	padding: 1em 1em;
}
div.figure {
	width: 75%;
	margin: auto auto;
}
div img {
	width: 98%;
	float: none;
	margin: auto auto;
	margin-bottom: 1em;
	display: block;
}


table.figure {
	width: auto;
	margin: 1em auto;
	background: transparent;
	border-spacing: 1em;
}

table.figure td {
	background-color: #EFE;
	border: 1px solid #BCB;
	text-align: center;
	font-family: 'Ubuntu Condensed',sans-serif !important;
	font-size: 10pt;
	padding: 1em 1em;
}

table.figure img {
	float: none;
	margin: auto auto;
	margin-bottom: 1em;
	display: block;
	padding: 0;
}

