table {
	background: black;
	border-spacing: 1px;
	margin-top: 1ex;
		margin-top: 1ex;
		margin-left: 2em;
		width: auto; 
}

th, td {
	padding: 0.25em 0.5em;
}

th {
	background: #ddf;
	font-family: sans-serif;
}

td {
	background: white;
	text-align: left;
}

