@import '../common/admonition.css';


/* Admonitions */
div.admonition p, div.admonition ul, div.admonition ol, div.admonition table {
	/*font-family: 'Ubuntu Light', sans-serif;*/
	font-family: 'Open Sans Light', sans-serif;
}


/* Front Page */
div.frontpage, div.portada {
	font-size: 24pt;
	margin: 2cm 2cm;
	padding: 4em 1em;
	page-break-after: always;
}

/* Subtítulo */
div.frontpage p, div.portada p {
	/*font-family: 'Georgia',serif;*/
	font-family: 'Open Sans Light', sans-serif;
}

/* Título */
div.frontpage p.admonition-title, div.portada p.admonition-title {
	font-family: 'Ubuntu',sans-serif;
}
