@import '../common/admonition.css';


/* Admonitions */
div.admonition p, div.admonition ul, div.admonition ol, div.admonition table {
	font-family: 'Ubuntu Light',sans-serif;
}


/* Front Page */
div.frontpage, div.portada {
	font-family: 'Georgia',serif !important;
	margin: 1cm 0cm;
	padding: 1em 1em;
}

div.frontpage p.admonition-title, div.portada p.admonition-title {
	font-family: 'Ubuntu',sans-serif !important;
	font-weight: bold;
}

div.frontpage p, div.portada p {
	/*font-family: 'Georgia',serif !important;*/
}
