@import '../common/bookmarks.css';

/* Añadir tercer nivel al índice */
/*
div.toc ul ul ul { display: block }
div.toc ul ul ul ul { display: none }
div.toc ul ul ul li { display: list-item; list-style-type: square }
div.toc ul ul ul li:before { content: none }
*/

h1 {
	bookmark-level: 1 !important;
	bookmark-label: content();
	string-set: section content();
}

h2 {
	bookmark-level: none !important;
	bookmark-label: content();
}

div.toc ul { list-style-type: square; padding-left: 1em; text-indent: 0; }
div.toc li { display: list-item; margin: 0 !important;}
div.toc li:before { content: none }
/*div.toc ul ul { display: none }*/
div.toc ul ul li { display: block; height: 0; overflow: hidden; }

div.toc {
	/*font-family: 'Ubuntu Light', sans-serif !important;*/
	font-family: 'Open Sans Light', sans-serif !important;
}
