@import '../common/headings.css';

/* Table of contents heading style */
p.toc {
	/*font-family: 'Ubuntu Light', sans-serif !important;*/
	font-family: 'Open Sans Light', sans-serif !important;
	border-bottom: 1px solid navy;
}

/* Headings */
div.h2 {
	font-family: 'Georgia',serif !important;
	border-bottom: 1px solid navy;
}

h1 {
	display: block;
	page-break-before: always !important;
	margin-top: 0 !important;
	/*font-size: 20pt;*/
}

h2 {
	display: block;
	border-bottom: 1px solid #BBC;
}

h4, h5, h6 {
	color: #333;
/*	font-weight: normal; /**/
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif !important;
	bookmark-level: none;
}


/* Encabezados sin numerar */
h1, h2 { padding-left: 0; text-indent: 0 }
h1:before, h2:before { content: none }

